<style>
h1 {
  padding-top: 5px;
}
h3 {
  font-size: 1.2em; 
  padding-top: 2px;
}
p {
  font-size: 0.8em;
}
table {
 font-size: 0.8em;
}
th, td {
  padding: 3px;
}
th.name {
  text-align: left;
  width: 33%;
}
th.track {
  width: 5%;
}
</style>

<h2>Registro de Despegues y Aterrizajes</h2>
<h3>Fecha:</h3>

<table style="clear: left">
  <tr>
    <th class="name">Nombre y apellidos</th>
    <th class="signature">Firma en despegue</th>
    <th class="track">Aterri zado</th>
    <th class="name">Nombre y apellidos</th>
    <th class="signature">Firma en despegue</th>
    <th class="track">Aterri zado</th>
  </tr>

  <tr>
<% @pilots.each_with_index do |pilot, index| %>
    <td><%= pilot.name.gsub(/ \(.+\)/, '') %> <%= pilot.surname %></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <%= raw('</tr><tr>') if index.odd? %>
<% end %>
<% if @pilots.size.odd? %> 
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
<% end %>
  </tr>
</table>
<p style="clear: left"><strong>ATENCIÓN:</strong> Los pilotos que finalmente no paticipen en la prueba <strong>deberán tachar su firma</strong> para que así conste.</p>
