<style>
body{
  font:14px Helvetica,Arial,sans-serif;
  line-height:0.9em;
}
img {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}
h1 {
  font-size: 1.8em; 
  padding-top: 15px;
  margin-top: 0px;
}
h3 {
  font-size: 1.3em; 
  padding-top: 15px;
}
p {
  padding-left: 5px;
  font-size: 1.2em;
}
table {
  width: 100%;
  border-spacing: 0px;
}
th, td {
  border: solid 1px;
  padding: 5px;
}
th.name {
  text-align: left;
}
th.separator {
  width: 30%;
}


</style>
<img src="http://clubdevuelopb.com/open/images/logo.png">
<h1>I Open de Ala Delta de Pedro Bernardo</h1>
<h2>Registro de Despegues</h2>
<h3>Fecha:</h3>

<p style="clear: left"><strong>ATENCIÓN:</strong> Los pilotos que finalmente no paticipen en la prueba <strong>deberán tachar su firma</strong> para que así conste.</p>
<table style="clear: left">
  <tr>
    <th class="name">Nombre y apellidos</th>
    <th class="signature">Firma</th>
    <th class="obs">Observaciones</th>
    <th class="name">Nombre y apellidos</th>
    <th class="signature">Firma</th>
    <th class="obs">Observaciones</th>
  </tr>

  <tr>
<% @pilots.each_with_index do |pilot, index| %>
    <td><%= pilot.name %> <%= pilot.surname %></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <%= raw('</tr><tr>') if index.odd? %>
<% end %>
<% if @pilots.size.odd? %> 
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
<% end %>
  </tr>
</table>

